docker-compose/
docker-compose.yml/
docker-compose.yaml/
# Ignore the docker-compose.yaml file
docker-compose.override.yaml/
# Ignore the docker-compose.override.yaml file
.obj/
node_modules/
obj/
bin/
.vscode/
.vs/